.actionButton {
    float: right;
    cursor: pointer;
}

.actionButtonContainer {
    margin: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    gap: 10px;
}

@media (max-width: 450px) {
    .actionButtonContainer {
        margin: 2px;
        gap: 2px;
    }
    .actionButton {
        padding: 5px;
    }
}
