.eventsList {
    margin: 0 20px;
    position: relative;
    color: var(--text-main);
}

.eventsWrapper {
    column-count: 3;
    width: 100%;
}

@media (max-width: 1200px) {
    .eventsWrapper {
        column-count: 2;
    }
}

@media (max-width: 800px) {
    .eventsWrapper {
        column-count: 1;
    }
}

.dateEvents:last-of-type {
    border-top: none;
}

.eventsDate {
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--text-main);
}

.dateEvents {
    padding-bottom: 10px;
    border-bottom: 1px solid var(--day-border);
    display: inline-block;
    width: 100%;
}

.events {
    padding-left: 20px;
}