.controls {
    padding: 5px 20px;
    text-align: end;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-end;
    margin-top: 8px;
    gap: 8px;
}

.controls .controlsGroup {
    flex: 1;
    display: flex;
    align-items: baseline;
    gap: -1px;
}

.controlsGroup input {
    flex: 1;
    padding: 11px;
    border: 1px solid black;
    border-radius: 12px 0 0 12px;
}

.controls .controlsGroup button {
    margin-left: 0;
    border-radius: 0 12px 12px 0;
    min-width: 100px;
}

@media (max-width: 1200px) {
    .controls {
        padding: 5px 15px;
    }
}
