.controls {
    padding: 5px 20px;
    text-align: end;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: flex-end;
}

.controls input {
    flex: 1;
    padding: 5px;
    min-width: 200px;
}

.controls button {
    margin-top: 8px;
    margin-left: 8px;
}

@media (max-width: 1200px) {
    .controls {
        padding: 15px;
    }
}
