.monthNavigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

.monthTitle {
  font-size: 1.5rem;
  font-weight: 700;
  color: #495057;
  cursor: pointer;
  text-decoration: underline;
  transition: transform .15s ease;
  text-align: center;
  padding: 0 5px;
}

.monthTitle:hover {
  transform: translateY(-2px);
}

@media (max-width: 1200px) {
  .monthNavigation {
    margin: 0 15px;
  }
}
