.controlGroup {
  display: flex;
  flex-direction: column;
}

.controlGroup .controlGroupLabel {
  margin-bottom: 8px;
  color: var(--controls-label);
  font-size: 0.9rem;
  font-weight: bold;
}

.countryFilter {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.toggleFilter,
.countryChip {
  padding: 6px 12px;
  background: var(--input-bg);
  border-radius: 20px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 2px solid transparent;
  color: var(--input-text);
  border: 1px solid var(--input-border);
}

.toggleFilter,
.countryChip.active {
  background: var(--button-bg);
  color: var(--button-text);
  border: 2px solid transparent;
}

.toggleFilter:hover,
.countryChip:hover {
  border-color: #667eea;
}

.checkboxContainer {
  display: flex;
  align-items: center;
  margin-top: calc(-0.9rem - 9px);
  margin-bottom: 9px;
  margin-left: 2px;
  justify-content: flex-end;
}

@media (max-width: 500px) {
  .checkboxContainer {
    margin-top: 9px;
    margin-bottom: 9px;
    justify-content: flex-start;
  }
}

/* Custom checkbox styling */
.checkbox {
  display: none;
  /* Hide the default checkbox */
}

.checkboxLabel {
  position: relative;
  padding-left: 30px;
  padding-right: 10px;
  cursor: pointer;
  font-size: 1rem;
  color: var(--text-main);
  user-select: none;
}

.checkboxLabel::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  background-color: var(--input-bg);
  transition: background-color 0.2s, border-color 0.2s;
}

.checkbox:checked+.checkboxLabel::before {
  background-color: #0078d4;
  /* Primary color */
  border-color: #0078d4;
}

.checkboxLabel::after {
  content: '';
  position: absolute;
  left: 7px;
  top: 50%;
  transform: translateY(-50%) scale(0);
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 2px;
  transition: transform 0.2s;
}

.checkbox:checked+.checkboxLabel::after {
  transform: translateY(-50%) scale(1);
}