# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run.
on:
  # Triggers the workflow on push events for all branches
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a single command using the runners shell
      - name: Run a one-line script
        env:
          APP_BRANCH_NAME: ${{ github.ref_name }}
          APP_BASE_NAME: ${{ github.ref_name == 'main' && 'PublicHolidays/main' || format('PublicHolidays/branch_{0}', github.ref_name) }}
        run: npm i && npm run lint && npm run test && npm run build

      - name: Deploy to GitHub Pages
        if: success() && github.event_name == 'push'
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist/PublicHolidays
          destination_dir: ${{ github.ref_name == 'main' && 'main' || format('branch_{0}', github.ref_name) }}
